/* main text color rgba(33, 33, 33, 1); */
/* secondary text color rgba(117, 117, 117, 1); */
/* accent color rgba(33, 150, 243, 1); */
/* secondary accent color rgba(255, 255, 255, 1); */
/* background color rgba(255, 255, 255, 1); */
/* secondary background color rgba(245, 244, 250, 1); */
:root {
    --main-text-color: rgba(33, 33, 33, 1);
    --secondary-text-color: rgba(117, 117, 117, 1);
    --thirdly-text-color: rgba(255, 255, 255, 0.6);
    --accent-text-color: rgba(255, 255, 255, 1);
    --accent-color: rgba(33, 150, 243, 1);
    --secondary-accent-color: rgba(255, 255, 255, 1);
    --background-color: rgba(255, 255, 255, 1);
    --secondary-background-color: rgba(245, 244, 250, 1);
    --thirdly-background-color: rgba(47, 48, 58, 1);
    --soc-icon-color: rgba(175, 177, 184, 1);
}
body {
    font-family: Roboto, sans-serif;
    background-color: var(--background-color);
    color: var(--main-text-color);
    
}
address {
    margin-bottom: 9px;
}
img {
    display: block;
}
* {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
.hero-container {
    padding: 200px 0px;
}
/* .section {
    width: 1600px;
    margin: 0 auto;
} */

/* Navigation */
.header-logo {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;  
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.accent-header {
    color: var(--main-text-color);
}
.header-list .header-link.current{
    color: var(--accent-color);
}
.header-list .header-link.current::after {
    content: '';
    display: block;
    background-color: var(--accent-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.header-item {
    position: relative;
}
.header-link {
    color: var(--main-text-color);
    text-decoration: none;
}
.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}
.header-contacts a {
    color: var(--secondary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}
.header-list a {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-contacts a:hover,
.header-contacts a:focus {
    color: var(--accent-color);
}
.header-portfolio {
    border-bottom: 1px solid rgba(236, 236, 236, 1);
}


/* Footer */
.footer-logo {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;  
    letter-spacing: 0.03em;
    text-decoration: none;
}

.accent-footer {
    color: var(--secondary-accent-color);
}
.footer-section {
    display: flex;
    background-color: var(--thirdly-background-color);
    padding: 60px 0;
}
address {
    color: var(--accent-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-contacts-list a {
    color: var(--thirdly-text-color);
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Buttons */
.hero-button {
    color: var(--secondary-accent-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    padding: 10px 32px;
    min-width: 200px;
    max-height: 50px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    border: 0rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
}
.button-portfolio {
    font-family: inherit;
    background-color: var(--secondary-background-color);
    color: var(--main-text-color);
    border-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    padding: 6px 22px;
    min-width: 73px;
    max-height: 38px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:focus,
.button-portfolio:active {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.buttons-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.buttons-list-item:not(:last-child) {
    margin-right: 8px;
}

/* Styles index.html */
.hero-section {
    max-width: 1600px;
    background-color: var(--thirdly-background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.second-section {
    background-color: var(--background-color)
}
.quality-section {
    padding: 94px 0;
}
.team-section {
    background-color: var(--secondary-background-color);
    padding: 94px 0;
}
.products-section {
    padding: 0;
    padding-bottom: 94px;
}


.hero-title {
    color: var(--accent-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.quality-about {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.quality-list {
    display: flex;
}

.quality-item {
    margin-right: 30px;
    min-width: 270px;
}
.quality-item:last-child {
    margin-right: 0;
}
.quality-description {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.products-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.products-list {
    display: flex;
}
.products-item {
margin-right: 30px;
}
.products-item:nth-child(3) {
    margin: 0px;
}

/* Team */
.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    
}
.team-list {
    display: flex;
}
.team-item {
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    min-width: 270px;
}
.team-item:last-child{
    margin-right: 0;
}
.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-align: center;
    min-width: 151px;

}

.team-member-skill {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;

}
.team-member-description {
    padding: 30px 32px;
    background-color: var(--accent-text-color);
}
.member-soc-list {
    display: flex;
    justify-content: center;
}
.member-soc-item {
    width: 44px;
    height: 44px;
    margin-left: 10px;
}
.member-soc-item:first-child{
    margin-left: 0;
}
.member-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--accent-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.member-soc-link:hover,
.member-soc-link:focus {
    background-color: var(--accent-color);
}

.member-soc-link:hover .member-soc-icon,
.member-soc-link:focus .member-soc-icon {
    fill: var(--accent-text-color);
}
.member-soc-icon {
    fill: var(--soc-icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Styles portfolio.html */
.section-portfolio{
    padding: 94px 0;
}
.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.project-type {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    
}
.projects-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid rgba(238, 238, 238, 1);
    cursor: pointer;
}


.projects-item:nth-child(3n) {
    margin-right: 0;
}
.project-description {
    padding: 20px 24px;
}
.projects-item:nth-child(n+7) {
    margin-bottom: 0;
}
.projects-item:hover,
.projects-item:focus {
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* Test */
.header-list {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}
.header-list .header-link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}
.header-contacts {
    display: inline-block;
    margin-left: auto;
}
.header-item:not(:last-child) {
    margin-right: 50px;
}
.contacts-item:not(:last-child) {
    margin-right: 50px;
}
.contacts-item {
    display: inline-flex;
    align-self: center;
    align-items: center;
}
.contacts-icon {
    margin-right: 10px;
    fill: currentColor;
}
.contacts-icon:hover,
.contacts-icon:focus {
    fill: var(--accent-color);
}

.main-nav {
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid rgba(236, 236, 236, 1); */
}

/* Footer items
 */
.footer-contacts-item:not(:last-child) {
    margin-bottom: 9px;
}
.logodiv {
    margin-bottom: 20px;
}
.footer-soc-list {
    display: flex;
    justify-content: center;
}
.footer-nav {
    display: flex;
}
.footer-address {
    margin-right: 70px;
}
.connect {
    color: var(--accent-text-color);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    font-style: normal;
}
.footer-soc {
    padding-top: 12px;
}
.footer-soc-item {
    width: 44px;
    height: 44px;
    margin-left: 10px;
}
.footer-soc-item:first-child {
    margin-left: 0;
}
.footer-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--accent-color);
}
.footer-soc-link:hover .footer-soc-icon,
.footer-soc-link:focus .footer-soc-icon {
    fill: var(--accent-text-color);
}
.footer-soc-icon {
    fill: var(--accent-text-color);
}

/* Section clients */
.clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
}


.clients-item {
    width: 170px;
    height: 92px;
    margin-left: 30px;
}

.clients-item:first-child {
    margin-left: 0;
}

.clients-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4%;
}


.clients-soc-link:hover .clients-soc-icon,
.clients-soc-link:focus .clients-soc-icon {
    fill: var(--accent-color);
}
.clients-soc-link:hover,
.clients-soc-link:focus {
    border-color: var(--accent-color);
}
.clients-soc-icon {
    fill: rgba(175, 177, 184, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-item:first-child::before {
    display: block;
    background-color: var(--secondary-background-color);
    border-radius: 4px;
    content: "";
    width: 270px;
    height: 120px;
    background-image: url(../images/antenna1.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.quality-item:nth-child(3)::before {
    display: block;
    background-color: var(--secondary-background-color);
    border-radius: 4px;
    content: "";
    width: 270px;
    height: 120px;
    background-image: url(../images/diagram1.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.quality-item:nth-child(2)::before {
    display: block;
    background-color: var(--secondary-background-color);
    border-radius: 4px;
    content: "";
    width: 270px;
    height: 120px;
    background-image: url(../images/clock1.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.quality-item:nth-child(4)::before {
    display: block;
    background-color: var(--secondary-background-color);
    border-radius: 4px;
    content: "";
    width: 270px;
    height: 120px;
    background-image: url(../images/astronaut1.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
.project-about {
    width: 322px;
    height: 168px;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #FFFFFF;

}
.projects-item:hover .project-actions {
    opacity: 1;
    
}
.projects-item:hover .project-thumb::before{
    opacity: 1;
}
.project-thumb:hover::before {
    opacity: 1;
}


.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 1;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-item:hover .project-overlay{
    transform: translateY(0);
    opacity: 1;
}
.project-thumb {
    position: relative;
    overflow: hidden;
}
.project-actions {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 63px 24px;
    opacity: 0;
}

.product-about {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    min-width: 205px;
}

.product-thumb::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 70px;
    background-color:rgba(47, 48, 58, 0.8);
    bottom: 0;
}
.product-thumb {
    position: relative;
}
.product-actions {
    position: absolute;
    bottom: 0;
    padding: 27px 82px;
}
/* {
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    background-color: rgba(255, 255, 255, 1);
    padding: 8px;
}
.close {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    cursor: pointer;
    margin-left: auto;
}

